*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header{
  height: 50px;
  width: 100%;
  background-color: #ff9a4b;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}
.step-box{
  width: 300px;
  padding: 10px ;
  position: relative;
  margin-right: 30px;
  background-color: #eee;
}
.step-box:last-child {
  margin-right: 0;
}
.step-num{
  color: #fff;
  background-color: #ff9a4b;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.step-box{
  width: 300px;
  background-color: #eeeeee;
}

.step-img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;

}
.step-img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}
.step-img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.title{
  margin: 15px 0 5px;
}

footer{
  height: 50px;
  width: 100%;
  background-color: #aaaaaa;
}

@media(max-width:768px){
  header{
    width: 100%;
    height: 50px;
  }
  main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
  .step-box{
    width: 90%;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .step-img1{
    height: 150px;
    width: auto;
    background-size: cover;
  }
  .step-img2{
    height: 150px;
    width: auto;
    background-size: cover;
  }
  .step-img3{
    height: 150px;
    width: auto;
    background-size: cover;
  }
  .step-box:last-child{
    margin: 0 auto;
  }

  footer{
    width: 100%;
    height: 50px;
  }
}

@media(max-width:425px){
  header{
    width: 100%;
    height: 50px;
  }
  main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
  .step-box{
    width: 90%;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .step-img1{
    height: 150px;
    width: auto;
    background-size: cover;
  }
  .step-img2{
    height: 150px;
    width: auto;
    background-size: cover;
  }
  .step-img3{
    height: 150px;
    width: auto;
    background-size: cover;
  }
  .step-box:last-child{
    margin: 0 auto;
  }

  footer{
    width: 100%;
    height: 50px;
  }
}
}